$mdc-animation-standard-curve-timing-function: cubic-bezier(.4, 0, .2, 1) !default;
$mdc-slidable-drawer-transition-close-time: 250ms;

@mixin standard-transition($name, $duration, $delay: 0ms) {
  transition: $name $duration $mdc-animation-standard-curve-timing-function;
}

.App {
  position: relative;
}

main {
  z-index: 1;
  padding: 78px 12px 12px;
  margin-left: 240px;
  height: 100%;
  @include standard-transition(margin-left, $mdc-slidable-drawer-transition-close-time);
  @media screen and (max-width: 768px){
    margin-left: 0;
  };
}